<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Este es mi title !!!!</title>
</head>
<body>
    
    Gracias por comprarme FLAN!!!!! Te quiero {{nombre}} {{apellido}}
    <br>
    <img alt="Beso" src="https://img.freepik.com/vector-gratis/amantes-pareja-besandose-feliz-san-valentin-ilustracion-personaje-dibujos-animados_56104-392.jpg"
         width=626" height="500">

    <br>
    {% for nota in notas %}
        {% if nota > 5 %}    
            <p style="color:blue">{{nota}}</p>
        {% else %}
            <p style="color:red">{{nota}}</p>
        {% endif %}
        <br>
    {% endfor %}



</body>
</html>